@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #11131e; */
}

.wrapper{
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.wrapper .pass-field{
    width: 100%;
    height: 65px;
    position: relative;
}

.wrapper .pass-field input{
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    padding: 0 17px;
    font-size: 1.2rem;
}

.pass-field input:focus{
    padding: 0 16px;
    border: 2px solid #4285f4;
}

.pass-field i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    transform: translateY(-50%);
}

.wrapper .content {
    margin: 20px, 0, 10px;
}

.content p{
    color: #333;
    font-size: 1.2rem;
}

.content .requirement-list{
    margin-top: 20px;
}

.requirement-list li{
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirement-list li i{
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
}

.requirement-list li.valid i{
    font-size: 1.2rem;
    color: #4285f4;
}

.requirement-list li span{
    margin-left: 12px;
    color: #333;
}

.requirement-list li.valid span{
    color: #999;
}

.no-icon{
    display: none;
}

.show-icon{
    display: inline-block;
}

